/*defining style for grid box */


h1{
	text-align:center;
	color:white;
	font-size:55
	}
p{
	text-align:center;
	color:white;
	font-size:20;
}
body{

    margin-right:70px;
	margin:70px;
    padding: 0;
    box-sizing: border-box;
min-height: 100%;
	background-color:#000000;
	
}
header{
	background:#080402;
}
input{
	width:200px;
	height:30px;
	padding:5px;
	border-radius:5px;
}

input  {
	padding-right:10px;
   margin-left:85%; 
margin-top:20px;   
   
}

a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20
}
div img {
    width: 250px;
    height: 355px;
    object-fit: cover;
    border-radius: 8px;
   margin:auto;
	padding-right:15px;
	padding-left:30px;
 border: 2px;
  padding: 10px;
  border-radius: 25px;
}
.div{
	display:inline-grid;
	grid-template-columns:auto auto auto auto;
	grid-gap:20px;
	margin:auto;
	margin-bottom:10px;
	
}

section{
	display: flex;
	flex-wrap: wrap;
	
	justify-content:space-between;
	margin-top:10px;
	grid-template-columns:auto;
}
.grid-box a {
	display:grid;
	 text-align: center;
	
}
mark{
	background:black;
	color:yellow;
}